distribution/*
implementation/QuizzApp/.vs
implementation/QuizzApp/QuizzApp.Tests/obj
implementation/QuizzApp/QuizzApp/QuizzApp.csproj
implementation/QuizzApp/QuizzApp/QuizzApp.csproj.user
implementation/QuizzApp/QuizzApp/obj
